@import "fontello";
@import "foundation_and_overrides";

body {
  background: url('/assets/Hammer_and_sickle.png') no-repeat center 50%;
  background-size: 75%;
  background-attachment: fixed;

}

i.fontello-icon-star-empty {
  color: #ebe400;
}

nav.top-bar li.name h1 a { color: #ebe400; }
